.headerContainer {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none; 
    color: #fff;
}
.otroContainer{
    display: inline-flex;
}
.leftContainer{
    width: 500px;
    display:flex;
    margin-left: 20px;
}
.centerContainer{
    width: 500px;
    display: flex;
    margin-left: 20px;
}
.rightContainer{
    width: 500px;
    display: flex;
    margin-left: 20px;
}
.text p{
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
}
ul li{
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
    list-style:square;
}
.text h2{
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    background-color: rgb(162, 95, 95);
    color: #fff;
    margin: 10px;
    border: 5px solid brown;
}