.headerContainer {
    display: flex;
    background-color: #ff690f;
    justify-content: center;
    align-items: center;
    height: 40px;
}

nav ul {
    margin: 0px;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin-right: 10px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none; 
    color: #fff;
}

.imgContainer {
    position: relative;
    height: 100vh; 
}

.imgContainer img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.imgContainer .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: #fff; 
}

.content h1, .content h3 {
    margin: 0; 
}

h1 {
    font-size: 3em; 
}

h3 {
    font-size: 1.5em; 
}

.vehiculosContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.containerVehiculos{
    display: flex;
    width: 50rem;
    height: 20rem;
    background-color: #ffff;
    border: 2px solid #ccc;
    margin: 2rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.containerVehiculos:hover {
    border-color: #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.imgCarro{
    width: 30%;
}

.datosBase{
    width: 45%;
    background-color: beige;
}

.verAuto{
    width: 25%;
}
footer{
    padding-top: 0px;
    background-color: black;
}

footer p{
    margin: 0px;
}

