.headerContainer {
    display: flex;
    background-color: rgb(162, 95, 95);
    justify-content: center;
    align-items: center;
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
    color: #fff; /* Ajusta el color del texto según tu preferencia */
}

